@{
    ViewBag.Title = "Forgot password";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}


<style>
    .forgot-password-form{
        margin-top: 200px;
        max-width: 650px;
        background-color: white;
        margin-bottom: 130px;
    }

    .forgot-password-form p{
            font-weight: bold;
            font-size: 25px;
    }

    .forgot-password-form button{
            width: 100%;
            margin-bottom: 40px;
    }
</style>

@if (ViewBag.Message != null)
{
    <div class="alert alert-info">
        @ViewBag.Message
    </div>
}

<div class="container forgot-password-form">
    <form asp-action="ForgotPassword" method="post">
        <p class="text-center pt-5" style="">Forgot password</p>
        <div class="form-group" style="margin: 20px 0">
            <label style="margin: 20px 0">Enter your email, Shopee Food will send you a link to your email and you can change password</label>
            <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" required/>
        </div>
        <button type="submit" style="" class="btn btn-primary">Send link</button>
    </form>
</div>




