@model BusinessLogicLayerFront.DTOs.UserDto

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}

<link href="~/css/login.css" rel="stylesheet" />

<div class="container" id="container">
    <div class="login-container">
        <div class="text-center mb-4">
            <h1>LOGIN</h1>
        </div>

        <form asp-action="Login" id="login-form">
            <div class="container-form-group">
                <!-- Email Input -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                        </div>
                        <input id="email" asp-for="Email" class="form-control" placeholder="Username or email" style="margin-bottom: 10px"/>
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <!-- Password Input -->
                <div class="form-group">
                    <div class="input-group" style="margin: 10px 0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="bi bi-lock"></i></span>
                        </div>
                        <input id="password" asp-for="Password" class="form-control" type="password" placeholder="Password" />
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="bi bi-eye" id="togglePassword"></i>
                            </span>
                        </div>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <!-- Error message -->
            <p class="text-center text-danger" id="error-message"></p>

            <!-- Remember me and forgot password -->
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe">
                <label class="form-check-label" for="rememberMe">Remember me</label>
                <a asp-controller="User" asp-action="ForgotPassword" class="forgot-pasword">Forgot password?</a>
            </div>

            <!-- Login Button -->
            <div class="form-group button-action">
                <button type="button" class="btn btn-primary" onclick="reloadLoginPage()">Login</button>
            </div>

            <!-- Sign Up Button -->
            <div class="form-group button-action">
                <a asp-controller="User" asp-action="SignUp" class="btn btn-secondary">Sign up</a>
            </div>
        </form>

        @ViewBag.Error

        <!-- Footer Text -->
        <p class="text-center mt-4">
            By logging in or signing up, you agree with <a href="#">Foody's regulatory policy</a>
        </p>
    </div>
</div>

<script>
    var checkLoginUrl = '@Url.Action("CheckLogin", "User")';
    var homeUrl = '@Url.Action("Index", "Home")';
</script>
<script src="~/js/login.js" asp-append-version="true"></script>
