@model BusinessLogicLayerFront.DTOs.UserDto

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}

<style>
    .login-container {
        max-width: 600px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #fff;
    }

    .phone-number a {
        background-color: green;
        color: white;
        width: 100%;
        font-size: 20px;
        padding: 10px;
    }

    .facebook a {
        background-color: blue;
        color: white;
        width: 100%;
        font-size: 20px;
        padding: 10px;
        margin: 20px 0;
    }

    .google a {
        background-color: red;
        color: white;
        width: 100%;
        font-size: 20px;
        padding: 10px;
    }

    .container-form-group {
        padding: 50px 0;
    }

    .inline-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .inline-list li {
            display: inline; /* or display: inline-block; */
            margin-right: 10px; /* Add some space between items */
            float: left;
        }

        .inline-list span {
            padding-right: 5%;
        }

    .input-group div span {
        font-size: 25px;
    }

    .button-action {
        margin: 20px 0;
    }

        .button-action input {
            width: 100%;
        }

</style>



<div class="container mt-5 mb-5" id="container">
    <div class="login-container">
        <div class="text-center" style="margin-bottom: 50px; color: greenyellow"><h1>LOGIN</h1></div>
        <div class="text-center">
            <div class="phone-number"><a class="btn btn-block inline-list"><li class="bi bi-phone"></li><span>PHONE NUMBER</span></a></div>
            <div class="facebook"><a class="btn btn-block inline-list"><li class="bi bi-facebook"></li><span>FACEBOOK</span></a></div>
            <div class="google"><a class="btn btn-block inline-list"><li class="bi bi-google"></li><span>GOOGLE</span></a></div>
        </div>

        <p class="text-center" style="margin-top: 15px">Or login by your account</p>

        <form asp-action="Login">
            <div class="container-form-group">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                        </div>
                        <input id="email" asp-for="Email" class="form-control" placeholder="Username or email" />
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="bi bi-file-lock2"></i></span>
                        </div>
                        <input id="password" asp-for="Password" class="form-control" type="password" placeholder="Password" />
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <p class="text-center text-danger" id="error-message"></p>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe">
                <label class="form-check-label" for="rememberMe">Remember me</label>
                <a asp-controller="User" asp-action="ForgotPassword" class="float-right" style="float: right">Forgot password?</a>
            </div>
            <div class="form-group button-action">
                <input type="submit" value="Login" class="btn btn-primary btn-block" onclick="reloadLoginPage()" />
            </div>

            <div class="form-group button-action">
                <a asp-controller="User" asp-action="SignUp"><input value="Sign up" class="btn btn-primary" /></a>
            </div>
        </form>


        @ViewBag.Error

        <p class="text-center">
            By login or sign up, you agree with <a href="#">Foody's regulatory policy</a>
        </p>
    </div>
</div>


<script>
    function reloadLoginPage() {
        event.preventDefault();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("CheckLogin", "User")',
            data: {
                Email: $('#email').val(),
                Password: $('#password').val(),
            },
            success: function (response) {
                if (response.success) {
                    window.location.href = response.redirectUrl;
                } else {
                    $('#error-message').text(response.message);
                }
            },
        });
    }
</script>





